body {
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
p {
  margin-bottom: 0;
}
.header {
  color: #0379fd;
  font-size: 3.4rem;
  font-weight: 500;
  margin: 2rem 0 0;
}
.subheader {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 0;
}
.steps {
  display: grid;
  column-gap: 0.5rem;
  grid-template-columns: 1fr auto;
  font-size: 1.8rem;
  justify-items: start;
  max-width: 45rem;
}
@media (min-width: 35em) {
  .steps {
    max-width: none;
  }
}
.step-number {
  font-weight: 500;
  white-space: nowrap;
}
.button {
  background-color: #0379fd;
  color: #fff;
  font-size: 2.2rem;
  font-weight: 500;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  margin-top: 4rem;
}
