@font-face {
  font-family: "SFpro";
  font-weight: 400;
  src: url("/fonts/sfpro-regular.ttf") format("truetype");
}
@font-face {
  font-family: "SFpro";
  font-weight: 500;
  src: url("/fonts/sfpro-semibold.ttf") format("truetype");
}

/* semantic color variables for this project */
:root {
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "SFpro", Arial;
  height: 100vh;
  height: 100dvh;
}

body {
  background: rgba(0, 0, 0, 0.5);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
}

#app {
  width: 100%;
}

.link {
  display: block;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.full-width {
  width: 100%;
}
